<!--
  Generated template for the FavoritesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Favorites</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div *ngIf="favorites">
        <div class="card" *ngFor="let favorite of place">
           <!--<div class="col-lg-5 col-md-10 col-sm-12 col-xs-12">-->
              <h4>{{place.name}}</h4>
              <div class="card-block">
                 <div class="card-media-block">
                    <!-- <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/{{movie.poster_path}}" class="card-img"> -->
                    <div class="card-media-description">
                       <span class="card-media-title">
                       
                       </span>
                       <span class="card-media-text">
                       {{place.latitude}}, {{place.longitude}}
                       </span>
                    </div>
                 </div>
              </div>
              <div class="card-text">
                 {{place.description}}
              </div>
              <br />
              <div class="card-footer">
                 <button class="btn btn-sm btn-link" (click)="deleteBoth(movie)">Remove from Favorites</button>
              </div>
           </div>
        <!--</div>-->
     </div>
</ion-content>
